:root {
  --accent-color: #ffbe0b;
  --add-color: #3a86ff;
  --add-color-2: #868695;
  --bg-cololr: #0e0e2c;
  --text-color: #fff;
  --dowload-color: #fb5607;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-color: var(--bg-cololr);
}
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Container*/
.container {
  width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}
/*End of Container*/

/*Header*/
.logo {
  color: var(--text-color);
  padding-top: 40px;
}
.nav-list {
  padding-top: 46px;
}
.nav-link {
  color: var(--text-color);
  font-size: 16px;
  line-height: 180%; /* 28.8px */
}
.registration-list {
  padding-top: 35px;
}
.registration-btn {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 180%; /* 28.8px */
  padding: 11px 34px 11px 35px;
  background: #0e0e2c;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}
.registration-btn:hover {
  color: var(--bg-cololr);
  background-color: var(--accent-color);
  font-weight: 600;
}
/*The end of Header*/
.subtitle-container {
  background-color: #172656;
  width: 257px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 379px;
}
.hero-subtitle {
  color: var(--add-color);
  font-size: 14px;
  line-height: 180%; /* 25.2px */
  letter-spacing: 1.05px;
  padding-left: 13px;
}
.hero-title {
  color: var(--text-color);
  width: 550px;
  font-size: 62px;
  line-height: 130%; /* 80.6px */
}
.hero-info {
  color: var(--add-color-2);
  line-height: 180%; /* 28.8px */
  width: 461px;
}

.input-form {
  background-color: var(--bg-cololr);
  border-radius: 18px;
  border: 1px solid #626276;
  width: 485px;
  height: 68px;
  font-size: 13px;
  padding-left: 66px;
}
.form-btn {
  background-color: var(--accent-color);
  color: #0e0e2c;
  font-size: 16px;
  font-weight: 600;
  line-height: 180%; /* 28.8px */
  padding: 10px 32px;
  border-radius: 10px;
}
.hero-item {
  color: var(--text-color);
  font-size: 14px;
  line-height: 180%; /* 25.2px */
  letter-spacing: 1.05px;
}
.plan {
  width: 192px;
  height: 250px;
  border-radius: 10px;
  background: #fff;
  /* box-shadow: -12px 13px 30px 0px rgba(0, 0, 0, 0.1); */
}
.plan-title {
  color: #0e0e2c;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 180%;
  padding-top: 10px;
}
.plan-subtitle {
  color: var(--add-color-2);
  text-align: center;
  font-size: 11px;
  line-height: 180%; /* 19.8px */
}
.container-btn {
  display: flex;
  justify-content: center;
}

.plan-btn {
  color: var(--text-color);
  font-size: 12px;
  line-height: 180%; /* 21.6px */
  background-color: var(--add-color);
  border: none;
  border-radius: 10px;
  padding: 7px 30px;
  margin: 0 auto;
}
.employee {
  width: 438px;
  height: 126px;
  border-radius: 10px;
  background: var(--text-color);
}
.name {
  color: var(--bg-cololr);
  font-size: 18px;
  font-weight: 600;
  line-height: 180%; /* 32.4px */
  padding-left: 38px;
  padding-top: 34px;
}
.job {
  color: #838394;
  font-size: 12px;
  line-height: 180%; /* 21.6px */
  padding-left: 38px;
}
.building-services {
  margin-top: 109px;
}
.services-container-subtitle {
  width: 231px;
  height: 39px;
  background: #172656;
  display: flex;
  align-items: center;
  justify-content: center;
}
.building-services-subtitle {
  color: var(--add-color);
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.05px;
}
.building-services-title {
  width: 533px;
  color: var(--text-color);
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  margin-top: 18px;
}
.sale-number {
  color: var(--accent-color);
  font-size: 38px;
  font-weight: 700;
  line-height: 130%; /* 49.4px */
}
.services-info {
  color: var(--add-color-2);
  font-size: 14px;
  line-height: 180%; /* 25.2px */
  margin-top: 13px;
}
.download-number {
  color: var(--dowload-color);
  font-size: 38px;
  font-weight: 700;
  line-height: 130%; /* 49.4px */
}
.what-we-do-container-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172656;
  width: 141px;
  height: 39px;
  margin-top: 217px;
  text-transform: uppercase;
}
.what-we-do-subtitle {
  color: var(--add-color);
  font-size: 14px;
  letter-spacing: 1.05px;
}
.what-we-do-title {
  width: 533px;
  color: var(--text-color);
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  padding-top: 18px;
}
.what-we-do-description {
  width: 461px;
  color: var(--add-color-2);
  font-size: 16px;
  line-height: 180%; /* 28.8px */
  margin-top: 34px;
}

.process-title {
  color: var(--text-color);
  font-size: 20px;
  line-height: 130%; /* 26px */
}
.process-info {
  color: var(--White-Shade---1, #868695);
  font-size: 14px;
  line-height: 180%; /* 25.2px */
  margin-top: 19px;
}

.product-stories {
  margin-top: 184px;
}

.stories-subtitle-container {
  width: 231px;
  height: 39px;
  background: #172656;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-stories-subtitle {
  color: var(--add-color);
  font-size: 14px;
  line-height: 180%; /* 25.2px */
  letter-spacing: 1.05px;
  text-transform: uppercase;
}
.product-stories-title {
  color: var(--text-color);
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  width: 533px;
  margin-top: 19px;
}
.product-title {
  color: var(--text-color);
  font-size: 20px;
  line-height: 130%; /* 26px */
  margin-top: 48px;
}
.optimizes {
  margin-top: 91px;
}
.product-info {
  color: var(--add-color-2);
  font-size: 14px;
  line-height: 180%; /* 25.2px */
}

.creative-process {
  margin-top: 198px;
}
.process-subtitle-container {
  width: 191px;
  height: 39px;
  background-color: #172656;
  display: flex;
  justify-content: center;
  align-items: center;
}
.creative-process-subtitle {
  color: var(--add-color);
  font-size: 14px;
  letter-spacing: 1.05px;
}
.creative-process-title {
  color: var(--text-color);
  font-size: 48px;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
  width: 533px;
  margin-top: 18px;
}
.creative-process-info {
  color: var(--White-Shade---1, #868695);
  line-height: 180%; /* 28.8px */
  width: 461px;
  margin-top: 21px;
  margin-top: 34px;
}

.satisfied-clients {
  background-color: var(--text-color);
  width: 290.855px;
  height: 149.342px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.satisfied-clients-info {
  color: #000;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
  margin-top: 22px;
}
.contact-us {
  margin-top: 172px;
}
.contact-us-title {
  padding-top: 172px;
  color: var(--text-color);
  text-align: center;
  font-size: 48px;
  line-height: 130%; /* 62.4px */
}
.contact-us-info {
  color: var(--add-color-2);
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  text-align: center;
  margin-top: 17px;
}
.contact-us-form {
  margin-top: 49px;
}
.contact-us-container {
  display: flex;
  justify-content: center;
}
.contact-us-input {
  background-color: var(--bg-cololr);
  border: 1px solid #626276;
  border-radius: 18px;
  padding: 23px 327px 23px 22px;
}
.btn-container {
  display: flex;
  align-items: center;
}
.contact-us-btn {
  height: 50px;
  width: 126px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  color: var(--bg-cololr);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 180%;
}
